:root {
    --primary-color: #0c0c0c;
    --secondary-color: #faf5f5;
    --button-color: #09daf6;
    --font-family: 'Arial', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: var(--secondary-color);
    font-family: var(--font-family);
    font-size: 1.2rem;
}

.nav-bar {
    background-color: var(--primary-color);
    padding: 1rem;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 1rem;
}